# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Data
data/raw/
data/processed/

# Logs
logs/
*.log

# dbt
target/
dbt_modules/
dbt_packages/

# OS
.DS_Store
Thumbs.db

# Telethon session files
*.session
